<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: white;
}

</style>
</head>
<body>
</html>

div {
    height: 100px;
    width: 500px;
    background-color: powderblue;
}





h1 {
    color: black;
  text-align: center;
}
h2 {
    color: black;
  text-align: center;
}
h3 {
    color: black;
  text-align: center;
}
p {
    color: Black;
  font-family: verdana;
    font-size: 20px;
}
